
        <footer class="footer footer-small @@addClass">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-6 col-md-3 col-xl-6 order-4 order-xl-0 footer__nav">
                        © 2020 YOOFORIC<br>
                        <a href="#" class="link">Terms&Condition</a>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2 footer__nav">
                        <a href="/catalog.html" class="link">Products</a><br>
                        <a href="/science.html" class="link">Science</a>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2 footer__nav">
                        <a href="/media.html" class="link">Media</a><br>
                        <a href="/about.html" class="link">About</a>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2 footer__nav">
                        <a href="/faq.html" class="link">FAQ</a><br>
                        <a href="/contact.html" class="link">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        @@include('../layouts/popups.html')
        <script src="js/lib.min.js"></script>
        <script src="js/app.min.js"></script>
    </body>
</html>