
        <footer class="footer @@addClass">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-12 col-lg-6 footer__social">
                        <a href="#">Facebook</a><br>
                        <a href="#">Instagram</a><br>
                        <a href="#">Twitter</a>
                    </div>
                    <div class="col-12 col-lg-6 footer__text">
                        <p>Testimonials shown are based on actual letters received from many of our satisfied customers. Customer testomonial results may not be typical. Individual results may vary. Individuals shown are paid models and not necessarily YOOFORIC customers.</p>
                        <p>The statements made regarding these products have not been evaluated by the Food and Drug Administration. The efficacy of these products has not been confirmed by FDA-approved research. These products are not intended to diagnose, treat, cure or prevent any disease. All information presented here is not meant as a substitute for or alternative to information from health care practitioners. Please consult your health care professional about potential interactions or other possible complications before using any product. The Federal Food, Drug, and Cosmetic Act require this notice.</p>
                    </div>
                    <div class="col-6 col-md-3 col-xl-6 order-4 order-xl-0 footer__nav">
                        © 2020 YOOFORIC<br>
                        <a href="#" class="link">Terms&Condition</a>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2 footer__nav">
                        <a href="/catalog.html" class="link">Products</a><br>
                        <a href="/science.html" class="link">Science</a>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2 footer__nav">
                        <a href="/media.html" class="link">Media</a><br>
                        <a href="/about.html" class="link">About</a>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2 footer__nav">
                        <a href="/faq.html" class="link">FAQ</a><br>
                        <a href="/contact.html" class="link">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        @@include('../layouts/popups.html')
    </body>
</html>