
<div class="iconList row">

    <div class="iconList__item col-6 col-lg-4">
        <div class="iconList__icon">
            <svg width="56px" height="56px"><use xlink:href="images/sprite.svg#icon-stars"></use></svg>
        </div>
        <div class="iconList__text">Superior Innovative Patented Time Release Formula</div>
    </div>

    <div class="iconList__item col-6 col-lg-4">
        <div class="iconList__icon">
            <svg width="56px" height="56px"><use xlink:href="images/sprite.svg#icon-ok"></use></svg>
        </div>
        <div class="iconList__text">No High! Yooforic Contains Less Than 0.1% THC</div>
    </div>

    <div class="iconList__item col-6 col-lg-4">
        <div class="iconList__icon">
            <svg width="56px" height="56px"><use xlink:href="images/sprite.svg#icon-fu"></use></svg>
        </div>
        <div class="iconList__text">Best Clinically Verified Absorption Rate 84%</div>
    </div>

    <div class="iconList__item col-6 col-lg-4">
        <div class="iconList__icon">
            <svg width="56px" height="56px"><use xlink:href="images/sprite.svg#icon-grass"></use></svg>
        </div>
        <div class="iconList__text">Maximum Absorption Without Waste</div>
    </div>

    <div class="iconList__item col-6 col-lg-4">
        <div class="iconList__icon">
            <svg width="56px" height="56px"><use xlink:href="images/sprite.svg#icon-peace"></use></svg>
        </div>
        <div class="iconList__text">Enjoy the Healthy Benefits of Mastication</div>
    </div>

    <div class="iconList__item col-6 col-lg-4">
        <div class="iconList__icon">
            <svg width="56px" height="56px"><use xlink:href="images/sprite.svg#icon-heart"></use></svg>
        </div>
        <div class="iconList__text">Sugar-Free Chewing Gum</div>
    </div>

</div>
