
<div class="joinYooforic">
    <div class="title">Join the Yooforic</div>
    <div class="description">and see for yourself what all the&nbsp;hype is about</div>

    <div class="joinYooforic__slider">

        <div class="joinYooforic__item">
            <a href="#">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="images/join/join-1.jpg, images/join/join-1@2x.jpg 2x">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="images/join/join-1.jpg" alt="My default image">
                </picture>
            </a>
        </div>

        <div class="joinYooforic__item">
            <a href="#">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="images/join/join-2.jpg, images/join/join-2@2x.jpg 2x">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="images/join/join-2.jpg" alt="My default image">
                </picture>
            </a>
        </div>

        <div class="joinYooforic__item">
            <a href="#" class="joinYooforic__content joinYooforic__content-blue">
                <div class="joinYooforic__center">
                    <div class="joinYooforic__text">“It did seem to help me relax. Usually by early afternoon I feel pretty stressed, but not so with the gum”</div>
                    <div class="joinYooforic__author">Frank T.</div>
                </div>
            </a>
        </div>

        <div class="joinYooforic__item">
            <a href="#">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="images/join/join-3.jpg, images/join/join-3@2x.jpg 2x">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="images/join/join-3.jpg" alt="My default image">
                </picture>
            </a>
        </div>

        <div class="joinYooforic__item">
            <a href="#">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="images/join/join-1.jpg, images/join/join-1@2x.jpg 2x">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="images/join/join-1.jpg" alt="My default image">
                </picture>
            </a>
        </div>

        <div class="joinYooforic__item">
            <a href="#">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="images/join/join-2.jpg, images/join/join-2@2x.jpg 2x">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="images/join/join-2.jpg" alt="My default image">
                </picture>
            </a>
        </div>

        <div class="joinYooforic__item">
            <a href="#" class="joinYooforic__content joinYooforic__content-blue">
                <div class="joinYooforic__center">
                    <div class="joinYooforic__text">“It did seem to help me relax. Usually by early afternoon I feel pretty stressed, but not so with the gum”</div>
                    <div class="joinYooforic__author">Frank T.</div>
                </div>
            </a>
        </div>

        <div class="joinYooforic__item">
            <a href="#">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="images/join/join-3.jpg, images/join/join-3@2x.jpg 2x">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="images/join/join-3.jpg" alt="My default image">
                </picture>
            </a>
        </div>

    </div>
</div>
