<div class="mainProducts @@addClass">
    <div class="mainProducts__top">
        <div class="mainProducts__title">
            The innovation that started it all
        </div>
        <div class="mainProducts__info">
            <div class="mainProducts__trial">
                <span>$4.95</span>
                14 Day risk-free trial
            </div>
            <div class="mainProducts__delivery">
                <svg width="32px" height="20px"><use xlink:href="images/sprite.svg#delivery"></use></svg>
                Always free shipping
            </div>
        </div>
    </div>
    <hr>
    <div class="mainProducts__list">
        <div class="col-12 col-md-auto col-lg-4">
            <div  class="productItem productItem-small">
                <a href="/product.html" class="productItem__title">Hemp oil infused chewing gum</a>
                <div class="productItem__size">2 sizes</div>

                <a href="/product.html" class="productItem__image">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="images/products/product-1.png, images/products/product-1@2.png 2x">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="images/products/product-1.png" alt="My default image">
                    </picture>
                </a>
                <div class="productItem__buybtn">
                    <button class="btn btn-dark btn-buy">$79.99</button>
                </div>
                <div class="productItem__subscription">
                    <a href="#">Subscription price</a>
                    @@include('../layouts/subpopup.html')
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto col-lg-4">
            <div class="productItem productItem-small">
                <a href="/product.html" class="productItem__title">100% Organic<br>hemp oil</a>
                <div class="productItem__size">4 flavors</div>

                <a href="/product.html" class="productItem__image">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="images/products/product-2.png, images/products/product-2@2.png 2x">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="images/products/product-2.png" alt="My default image">
                    </picture>
                </a>
                <div class="productItem__buybtn">
                    <button class="btn btn-dark btn-buy">$79.99</button>
                </div>
                <div class="productItem__subscription">

                    <a href="#">Subscription price</a>
                    @@include('../layouts/subpopup.html')
                </div>
            </div>
        </div>

        <div class="col-12 col-md-auto col-lg-4">
            <div class="productItem productItem-small">
                <a href="/product.html" class="productItem__title">Hemp oil infused<br>cream</a>
                <div class="productItem__size">60 ml</div>
                <a href="/product.html" class="productItem__image">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="images/products/product-3.png, images/products/product-3@2.png 2x">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="images/products/product-3.png" alt="My default image">
                    </picture>
                </a>
                <div class="productItem__buybtn">
                    <button class="btn btn-dark btn-buy">$79.99</button>
                </div>
                <div class="productItem__subscription">

                    <a href="#">Subscription price</a>
                    @@include('../layouts/subpopup.html')
                </div>
            </div>
        </div>
    </div>
    <div class="mainProducts__more">
        <a href="#">Products</a>
    </div>
</div>