
<div class="popup centered" id="popupFree14">
    <div class="popup__container">
        <a href="#" class="popup__close"></a>
        <div class="scrollbar-outer">
            <div class="popup__title">14 day risk-free trial $4.95</div>
            <div class="popup__textContent">
                <p>With the Free Trial offer, you'll receive one 30 Piece Box – One Month Supply. We know you will want to continue the cumulative healthy effects of YOOFORIC Hemp Oil Infused Gum so every free trial includes complimentary enrollment in our monthly Subscribe & Save Club.</p>
                <p>At the end of your trial period, you’ll be billed $79.99 for the supply you have received and are keeping. Thereafter, a new 30 Piece Pack will be sent and billed at the special member discounted price of $79.99 plus FREE SHIPPING every thirty (30) days Cancel any time.</p>
                <p>Here's more great news - EVERY YOOFORIC monthly supply comes with its own 30-Day Money Back Guarantee so there's no risk to your wallet...only rewards to your health!</p>
            </div>
        </div>
    </div>
</div>

<div class="popup centered" id="popupSubscribe">
    <div class="popup__container">
        <a href="#" class="popup__close"></a>
        <div class="scrollbar-outer">
            <div class="popup__title">Subscribe and Save (15%) $79.99</div>
            <div class="popup__textContent">
                <p>As a Subscribe & Save Member, you never have to worry about running out of your YOOFORIC Hemp Oil Chewing Gum.</p>
                <p>Once your current supply runs out, you'll be automatically shipped your monthly supply every 30 days at the special Member discounted price of $24.99 plus FREE SHIPPING!<br>You are under no obligation to purchase future shipments and you can cancel at any time.</p>
                <p>Here's more great news - EVERY YOOFORIC monthly supply comes with its own 30-Day Money Back Guarantee so there's no risk to your wallet...only rewards to your health!</p>
            </div>
        </div>
    </div>
</div>

<div class="popup centered" id="popupTry30">
    <div class="popup__container">
        <a href="#" class="popup__close"></a>
        <div class="scrollbar-outer">
            <div class="popup__title">Try our products for 30 days, Risk Free!</div>
            <div class="юpopup__textContent scrollbar-outer">Your purchase is protected by our 30 Day Money Back Guarantee (less S/H), so try it with confidence. Money Back Guarantee instructions are included with all shipments.</div>
        </div>
    </div>
</div>


<div class="popup centered popup-video" id="videoPopup">
    <div class="popup__container">
        <a href="#" class="popup__close"></a>
        <div class="videoPopup__iframe"></div>
    </div>
</div>