a.btn{
  text-decoration: none;
  display: inline-block;
}

.btn{
  padding: 0;
  transition: all 0.3s ease;
  cursor: pointer;

  &-white{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    height: 50px;
    padding: 0 17px 1px;
    line-height: 46px;

    @include screen-md{
      height: 60px;
      font-size: 32px;
      padding: 0 23px 4px;
      letter-spacing: -0.02em;
      line-height: 56px;
    }

    &.btn-small{
      height: 45px;
      font-size: 18px;
      width: 140px;
      padding: 0 0 1px;
      line-height: 41px;

      @include screen-md{
        height: 50px;
        width: 160px;
        font-size: 22px;
        line-height: 46px;
      }
    }

    &:hover{
      color: #000000;
      border-color: #000000;
      background: #FFFFFF;
    }
  }

  &-dark{
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 22px;
    line-height: 56px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    background: transparent;
    height: 60px;
    padding: 0 17px 1px;

    &.btn-tocart{
      height: 50px;
      line-height: 46px;
      @include screen-md{
        height: 60px;
        line-height: 56px;
      }
    }

    &.btn-buy{
      height: 50px;
      font-size: 22px;
      padding: 0 15px;
      line-height: 46px;

      @include screen-xl{
        height: 60px;
        padding: 0 23px;
        line-height: 56px;
      }
    }

    &:hover{
      color: #ffffff;
      border-color: #000000;
      background: #000000;
    }
  }
}