@font-face {
  font-family: 'Cera';
  src: url('../fonts/Cera-Regular-Web.eot');
  src: url('../fonts/Cera-Regular-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cera-Regular-Web.woff2') format('woff2'),
  url('../fonts/Cera-Regular-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/Cera-Regular Italic-Web.eot');
  src: url('../fonts/Cera-Regular Italic-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cera-Regular Italic-Web.woff2') format('woff2'),
  url('../fonts/Cera-Regular Italic-Web.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/Cera-Medium-Web.eot');
  src: url('../fonts/Cera-Medium-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cera-Medium-Web.woff2') format('woff2'),
  url('../fonts/Cera-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

